h1,
h3 {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 10rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

ol,
ul {
    padding-left: 3rem;
}

button:focus,
select:focus {
    outline: none;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
    height: calc(100vh - 54px);
    flex-direction: column;
}

.btn {
    padding: 0.5em 1.4em;
    margin-right: 1em;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 200ms;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    color: currentColor;
}
