.lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lobby .alert {
    font-size: 1.6rem;
}

.lobby h2 {
    font-size: 5rem;
    font-weight: bold;
}

.lobby-info {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 2em;
    border: 1px solid #3f3f3f;
    padding: 1.2em;
    border-radius: 8px;
}

.lobby-info img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 8px;
}

.lobby-info h4 {
    font-size: 2.8rem;
}

.btn-lobby {
    position: relative;
    margin-top: 1em;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    background-color: #1e90ff;
}

.btn-lobby:hover {
    color: white;
    background-color: #166dc5;
}
