.info {
    margin-left: 2rem;
    width: 310px;
}

.info__btn-group {
    display: flex;
    margin-bottom: 1em;
}

.btn-game {
    color: black;
    background: white;
    border: 2px solid #1e90ff;
}

.btn-game:hover,
.btn-game:active {
    color: white;
    background: #1e90ff;
}

.btn-game:active {
    background: #488ec4;
}

.status {
    font-weight: bold;
    font-size: 2rem;
}

.status__text {
    margin-bottom: 0;
}
