.history {
    position: relative;
    padding-top: 3em;
}

.history::before {
    content: '';
    position: absolute;
    top: 1.5em;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.history__menu {
    display: flex;
    margin-bottom: 0.5em;
}

.history__sort {
    padding: 0.2em 0.4em;
    border-radius: 5px;
    margin-left: 1em;
}

.history__list {
    overflow: auto;
    height: 67vh;
}

.history__item {
    position: relative;
    margin-top: 0.5em;
}

.radio,
.radio--label {
    display: inline-block;
}

.radio {
    position: absolute;
    z-index: 999;
    opacity: 0;
}

.radio:checked + .radio--label,
.radio--label:hover {
    color: white;
    background: rgb(139, 139, 139);
}

.radio:active + .radio--label {
    color: white;
    background: rgb(99, 99, 99);
}

.radio--label {
    cursor: pointer;
    padding: 0.4em 1em;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 12px;
    transition-duration: 200ms;
}
