.square {
    background: #fff;
    border: 1px solid #999;
    font-size: 2.8rem;
    font-weight: bold;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 34px;
    transition: background 250ms ease-in;
}

.square:focus {
    outline: none;
}

.square--x {
    color: #de3737;
}

.square--o {
    color: #4a94e8;
}

.winner--x {
    background: #de3737;
}

.winner--o {
    background: #4a94e8;
}
