.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px #1e90ff;
    background-color: #343a40;
    color: white;
    opacity: 0.9;
}

.navbar__title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar__logo {
    background: #f7f7f7;
    width: 30px;
    height: 30px;
    border: 2px solid #1e90ff;
}

.navbar ul {
    font-size: 1.6rem;
    display: flex;
    list-style: none;
}

.navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 1rem;
}

.navbar a:hover {
    color: #1e90ff;
}

.navbar .welcome span {
    margin-right: 0.6rem;
}
